/showInputDialog/nbproject/private/
/showInputDialog/build/
/Operaciones_Basicas/nbproject/private/
/Operaciones_Basicas/build/
/Operaciones_Math/nbproject/private/
/Operaciones_Math/build/
/Programa1/nbproject/private/
/Programa1/build/